body {
    width: 100%;
    margin: 0 auto;
    background-color: #eeeeee;
  }
  
  .head {
    height: 92px;
    width: 100%;
    background-color: #cf2b2b;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  h1 {
    font-family: "Righteous", cursive;
    margin-top: 10px;
    margin-left: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    color: #ffffff;
  }
  
  h2 {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: #ffffff;
    margin-left: 20px;
  }
  
  h3 {
    font-family: "Righteous", cursive;
    font-size: 26px;
    font-weight: 400;
    color: #333333;
  }
  
  .principal {
    margin-top: 125px;
    margin-left: 20px;
  }
  
  .prato {
    height: 216px;
    width: 172px;
    margin-left: 20px;
    margin-top: 15px;
    background-color: #ffffff;
    border-radius: 9px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border: 8px solid white;
  }
  
  .meal, .drink, .dessert {
    display: flex;
    flex-direction: row;
    overflow: scroll;
  }
  
  .frango {
    margin-left: 15px;
    margin-top: 18px;
    border-radius: 4px;
  }
  
  .prato-nome, .bebida-nome, .sobremesa-nome {
    margin-left: 15px;
    margin-top: 8px;
  }
  
  h4 {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #333333;
  }
  
  h5 {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
  }
  
  .descricao {
    height: 39px;
    width: 147px;
    margin-left: 15px;
    margin-top: 5px;
  }
  
  .preco {
    margin-left: 15px;
    margin-top: 5px;
  }
  
  h6 {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  
  .bebida {
    margin-left: 15px;
    margin-top: 25px;
  }
  
  .sobremesa {
    margin-left: 15px;
    margin-top: 25px;
  }
  
  .botaoSelecionar {
    height: 61px;
    width: 364px;
    border-radius: 50px;
    background-color: #cbcbcb;
    border: none;
  }

  .botaoFinalizar {
    height: 61px;
    width: 364px;
    border-radius: 50px;
    background-color: #32B72F;
    border: none;
  }
  
  .finalizar {
    width: 100%;
    height: 92px;
  
    position: fixed;
    bottom: 0;
    left: 0;
  
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
  }
  
  .conteudo {
    margin-bottom: 100px;
  }
  
  .hidden {
    display: none;
  }
  
  .selecionados {
    border: 4px #32B72F solid;
  }

  button {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
  }